{% extends "base.html" %}
{% block content %}
<h1>Discovered Devices</h1>
<p>Below is a list of devices found on your network. Use this data to investigate unknown or suspicious endpoints.</p>
<table>
    <tr>
        <th>IP Address</th>
        <th>MAC Address</th>
        <th>Vendor</th>
        <th>Status</th>
    </tr>
    {% for d in devices %}
    <tr>
        <td>{{d.ip}}</td>
        <td>{{d.mac}}</td>
        <td>{{d.vendor}}</td>
        <td>{{d.status}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}